@import url('https://fonts.googleapis.com/css?family=Manrope:400,500,600,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

main {
  transition: all 0.3s ease;
}

system-message {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 60;
  left: 0;
  width: 100%;
  z-index: 10000;
  padding: 10px 30px;

}

.system-message-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 20px;
  width: 100%;
  border-radius: 5px;
}

.system-message-container svg {
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.system-message-container.error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

.system-message-container.warning {
  background-color: #fff3cd;
  color: #856404;
  border: 1px solid #ffeeba;
}

.system-message-container.success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.system-message-container.info {
  background-color: #d1ecf1;
  color: #0c5460;
  border: 1px solid #bee5eb;
}

.system-message-container.error svg {
  fill: #721c24;
}

.system-message-container.warning svg {
  fill: #856404;
}

.system-message-container.success svg {
  fill: #155724;
}

.system-message-container.info svg {
  fill: #0c5460;
}


.system-message-container p {
  text-align: center;
  width: 100%;
  padding: 0 10px;  
}


::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Removes the blue highlight when selecting an element */

.noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.noSelect:focus {
  outline: none !important;
}

.grecaptcha-badge { 
  visibility: hidden !important;
}